module.exports = {
  apps: [{
    name: 'yocto-builder',
    script: 'server.ts',
    interpreter: 'tsx',
    instances: '{{ pm2_instances }}',
    exec_mode: 'cluster',
    env: {
      NODE_ENV: 'production',
    },
    error_file: '{{ logs_directory }}/pm2-error.log',
    out_file: '{{ logs_directory }}/pm2-out.log',
    log_date_format: 'YYYY-MM-DD HH:mm:ss Z',
    merge_logs: true,
    autorestart: true,
    max_memory_restart: '1G',
  }],
};

