---
- name: Deploy Yocto Builder to AWS EC2
  hosts: aws_ec2_instances
  become: yes
  
  vars:
    nginx_server_name: "{{ hostvars[inventory_hostname]['public_ip'] | default(ansible_host) }}"
    nextauth_url: "http://{{ hostvars[inventory_hostname]['public_ip'] | default(ansible_host) }}"
    builds_directory: "/data/builds"
    logs_directory: "/var/log/yocto_builder"
    key_path: "{{ lookup('env', 'AWS_EC2_KEY_PATH') | default('../../.secrets/ec2_vipinr.pem') }}"
    app_repo: "https://github.com/vipincr/yocto_builder.git"
    app_user: yocto
    app_group: yocto
    app_home: /opt/yocto_builder
    postgresql_user: yocto_admin
    postgresql_password: "{{ vault_postgresql_password | default('changeme') }}"
    postgresql_host: localhost
    postgresql_port: 5432
    postgresql_db: yocto_builder
    nextauth_secret: "{{ vault_nextauth_secret | default('changeme-secret-key-change-in-production') }}"
    github_client_id: "{{ vault_github_client_id | default('') }}"
    github_client_secret: "{{ vault_github_client_secret | default('') }}"
    google_client_id: "{{ vault_google_client_id | default('') }}"
    google_client_secret: "{{ vault_google_client_secret | default('') }}"
    build_container_cpus: 6
    build_container_memory: "28g"
    pm2_instances: 1

  pre_tasks:
    - name: Display deployment info
      debug:
        msg: "Deploying to {{ inventory_hostname }} ({{ ansible_host }})"

    - name: Wait for system to be ready
      wait_for_connection:
        timeout: 300

  roles:
    - common
    - docker
    - postgresql
    - nodejs
    - nginx
    - yocto_builder

  post_tasks:
    - name: Update nginx server name with public IP
      set_fact:
        nginx_server_name: "{{ hostvars[inventory_hostname]['public_ip'] }}"

    - name: Display deployment status
      debug:
        msg:
          - "Deployment completed!"
          - "Application URL: https://{{ hostvars[inventory_hostname]['public_ip'] }}"
          - "SSH: ssh -i {{ key_path }} ubuntu@{{ hostvars[inventory_hostname]['public_ip'] }}"
          - "Note: SSL certificate will be set up on first access or run certbot manually"

    - name: Verify services are running
      systemd:
        name: "{{ item }}"
        state: started
      loop:
        - postgresql
        - docker
        - nginx
      register: service_status

    - name: Display service status
      debug:
        var: service_status

