{
  "storage-driver": "{{ docker_storage_driver | default('overlay2') }}",
  "log-driver": "{{ docker_log_driver | default('json-file') }}",
  "log-opts": {
    "max-size": "{{ docker_log_max_size | default('100m') }}",
    "max-file": "{{ docker_log_max_file | default('3') }}"
  },
  "default-ulimits": {
    "nofile": {
      "Name": "nofile",
      "Hard": 65536,
      "Soft": 65536
    }
  },
  "live-restore": true,
  "userland-proxy": false
}
