---
- name: Install Docker (Amazon Linux)
  yum:
    name: docker
    state: present
  when: ansible_os_family == "RedHat"
  notify: Restart Docker

- name: Start and enable Docker (Amazon Linux)
  systemd:
    name: docker
    enabled: yes
    state: started
  when: ansible_os_family == "RedHat"

- name: Add Docker GPG key (Ubuntu/Debian)
  apt_key:
    url: https://download.docker.com/linux/ubuntu/gpg
    state: present
  when: ansible_os_family == "Debian"

- name: Add Docker repository (Ubuntu/Debian)
  apt_repository:
    repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"

- name: Install Docker (Ubuntu/Debian)
  apt:
    name:
      - docker-ce
      - docker-ce-cli
      - containerd.io
      - docker-buildx-plugin
      - docker-compose-plugin
    state: present
    update_cache: yes
  when: ansible_os_family == "Debian"
  notify: Restart Docker

- name: Configure Docker daemon
  template:
    src: daemon.json.j2
    dest: /etc/docker/daemon.json
    mode: '0644'
  notify: Restart Docker

- name: Add app user to docker group
  user:
    name: "{{ app_user | default('yocto') }}"
    groups: docker
    append: yes

- name: Ensure Docker is started
  systemd:
    name: docker
    state: started
    enabled: yes
